{% extends "base.html" %}

{% block container %}

<div class="container round-light-container">
	<div class="row up-down-padding">
		<div class="span12">
			<form class="form-horizontal left-right-padding" action="/core/people/add" method="POST">
				{% csrf_token %}
				<legend>Enter person data</legend>
				<div class="control-group">
					<label class="control-label">{{form.first_name.label}}</label>
					<div class="controls">
						{{form.first_name}}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{form.last_name.label}}</label>
					<div class="controls">
						{{form.last_name}}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{form.username.label}}</label>
					<div class="controls">
						{{form.username}}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{form.password.label}}</label>
					<div class="controls">
						{{form.password}}
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Save</button>
						<a class="btn" href="/core/people"><i class="icon-refresh icon-black"></i> Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}