{% extends "base.html" %}

{% block container %}

<div class="container round-light-container">
	<div class="row up-down-padding">
		<div class="span6">
			<div style="margin-left:20px">
				<a class="btn btn-primary" href="/hr/contracts/add">
					<i class="icon-plus icon-white"></i> Add new contract
				</a>
			</div>
		</div>
		<div class="span6">
			<div class="pull-right" style="margin-right:20px">
				<input class="select2-input" id="typeahead" type="hidden">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<div class="left-right-padding up-down-padding">
				<table id="table_contracts" class="table table-striped table-bordered dataTable">
					<thead>
						<tr>
							<th>First name</th>
							<th>Last name</th>
							<th>Type</th>
							<th>Title</th>
							<th>Description</th>
							<th>Weekly hours</th>
							<th>Hourly rate</th>
							<th>Monthly salary</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for contract in contracts %}
						<tr>
							<td>{{contract.person.user.first_name}}</td>
							<td>{{contract.person.user.last_name}}</td>
							<td>{{contract.type}}</td>
							<td>{{contract.title}}</td>
							<td>{{contract.description}}</td>
							<td>{{contract.weekly_hours}}</td>
							<td>{{contract.hourly_rate}}</td>
							<td>{{contract.monthly_salary}}</td>
							<td>
								<div class="btn-group">
									<a href="/core/people/{{contract.person.id}}">
										<img src="{{ STATIC_URL }}/img/search.png" title="View profile">
									</a>
									<a href="/hr/contracts/{{contract.id}}/delete" style="margin-left:5px" title="Delete contract">
										<img src="{{ STATIC_URL }}/img/delete.png">
									</a>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$.getJSON("/hr/autocomplete", function(val){
			$('#typeahead').select2({
			width: "200px",
			placeholder: "Select a contract...",
			data: val
		});

		$('#typeahead').on('change', function(event){
			window.location = "/core/people/" + event.val;
		});
		});

		$('#table_contracts').dataTable({
			"bFilter":false,
			"bLengthChange":false,
			"iDisplayLength":10,
			"sDom": '<"top"p>t<"bottom"p>',
			"sPaginationType": "bootstrap",
		});
	})
</script>

{% endblock %}